@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 60px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 18px;
  list-style: none;
}

.menu a {
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  color: #e5e7eb;
}

.hero-text-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-bottom: 120px;
}

.hero-text-container .title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 12px;
}

.text p{
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.break-line{
  display: block;
}

.hero .img-container {
  max-width: 400px;
  height: auto;
}

.img-container img {
  border-radius: 5px;
}

.signup {
  background-color: #3882f6;
  color: #fff;
  border: none;
  padding: 8px 36px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.info .img-container {
  max-width: 200px;
  height: auto;
}

.info .title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 0 80px;
  margin-bottom: 80px;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.testimonial {
  background-color: #e7e7e7;
  padding: 80px;
}

.testimonial p {
  margin: 0 80px;
}

.testimonial .message {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937
}

.testimonial .author {
  font-size: 18px;
  text-align: right;
  color: #1f2937;
  font-weight: bold;
}