@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 60px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 18px;
  list-style: none;
}

.menu a {
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  color: #e5e7eb;
}

.hero-text-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-bottom: 120px;
}

.img-container {
  max-width: 400px;
  height: auto;
}

.img-container img {
  border-radius: 5px;
}
